{
  "url": "//api.notif.immo/docs?format=json",
  "spec": {
    "openapi": "3.0.2",
    "servers": [
      {
        "url": "https://api.notif.immo/"
      }
    ],
    "info": {
      "title": "Melo",
      "version": "2.0",
      "description": "# Getting started\n ## Authentication\n        To get a json web token, you need to authenticate with your credentials :  \n        [POST] **https://api.notif.immo/auth**\n\n```\ncurl --location --request POST 'https://api.notif.immo/auth' \\\n--header 'Content-Type: application/json' \\\n--data-raw '{\n    \"email\": \"<email>\",\n    \"password\": \"<password>\"\n}\n```\n\nYou will obtain a json response containing a **[jwt](https://jwt.io)** and a refresh token.\n\nThe jwt will expire after a week, and the refresh token after a month.\n\n\nYou can get a new jwt posting your refresh token at the following endpoint :  \n[POST] **https://api.notif.immo/auth/token/refresh**\n\n    {\n        refresh_token: '<refresh_token_here>'\n    }\n\n ## Public routes\n        All routes prefixed by `/public/` don\\'t need a JWT to be called\n ## Count query\n        If you want to perform a count query, without having the collection results in the response, you can set `itemsPerPage=0` as a query parameter:  \n        https://api.notif.immo/documents/properties?propertyTypes[]=1&includedDepartments[]=/departments/77&surfaceMin=10&surfaceMax=200&itemsPerPage=0  \n        \nPlease note that count is limited to *10 000 results* for `/documents/properties` requests.\n ## Date - Timezone\n        The timezone is set to Europe/Paris.\n"
    },
    "paths": {
      "/account/activate_api_usage": {
        "post": {
          "summary": "Create prices on user subcription on stripe to allow usage records",
          "description": "",
          "tags": [
            "Payment"
          ],
          "parameters": [],
          "operationId": "payment_activate_api_usageActivateApiUsageCollection",
          "responses": {
            "201": {
              "description": "ActivateApiUsage resource created",
              "content": {
                "application/ld+json": {
                  "schema": {
                    "$ref": "#/components/schemas/ActivateApiUsage:jsonld"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ActivateApiUsage"
                  }
                }
              }
            },
            "400": {
              "description": "Invalid input"
            },
            "404": {
              "description": "Resource not found"
            }
          },
          "requestBody": {
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivateApiUsage:jsonld"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivateApiUsage"
                }
              }
            },
            "description": "The new ActivateApiUsage resource"
          }
        }
      },
      "/account/change_password": {
        "post": {
          "summary": "Change current User password",
          "tags": [
            "Account"
          ],
          "requestBody": {
            "content": {
              "application/ld+json": {
                "schema": {
                  "properties": {
                    "oldPassword": {
                      "type": "string"
                    },
                    "password": {
                      "type": "string",
                      "minLength": 6,
                      "maxLength": 4096
                    }
                  },
                  "required": [
                    "oldPassword",
                    "password"
                  ]
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "User resource updated",
              "content": {
                "application/ld+json": {
                  "schema": {
                    "$ref": "#/components/schemas/User:jsonld-api_user_read"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/User-api_user_read"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "404": {
            "description": "resource not found"
          },
          "operationId": "change_passwordUserCollection"
        }
      },
      "/account/query_logs_usage": {
        "get": {
          "tags": [
            "QueryLog Usage"
          ],
          "summary": "Api query logs usage",
          "description": "Retrieve api query logs stats by date range",
          "parameters": [
            {
              "in": "query",
              "name": "endDate",
              "description": "Last day of current month, 29:59:59, if null",
              "schema": {
                "type": "string",
                "format": "date-time",
                "example": "2023-05-31"
              }
            },
            {
              "in": "query",
              "name": "startDate",
              "description": "First day of current month, midnight, if null",
              "schema": {
                "type": "string",
                "format": "date-time",
                "example": "2023-05-01"
              }
            }
          ],
          "operationId": "account_query_logs_usageQueryLogUsageCollection",
          "responses": {
            "200": {
              "description": "QueryLogUsage collection response",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/QueryLogUsage:8ef591510bd59b58cf484b748a84deab"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/account/user": {
        "get": {
          "summary": "Get current User",
          "tags": [
            "Account"
          ],
          "parameters": [],
          "responses": {
            "200": {
              "description": "User resource response",
              "content": {
                "application/ld+json": {
                  "schema": {
                    "$ref": "#/components/schemas/User:jsonld-api_user_read"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/User-api_user_read"
                  }
                }
              }
            }
          },
          "operationId": "account_user_profileUserProfileItem"
        }
      },
      "/account/webhooks_usage": {
        "get": {
          "tags": [
            "Webhook Usage"
          ],
          "summary": "Webhooks usage",
          "description": "Retrieve webhooks sent stats by date range",
          "parameters": [
            {
              "in": "query",
              "name": "endDate",
              "description": "Last day of current month, 29:59:59, if null",
              "schema": {
                "type": "string",
                "format": "date-time",
                "example": "2023-05-31"
              }
            },
            {
              "in": "query",
              "name": "startDate",
              "description": "First day of current month, midnight, if null",
              "schema": {
                "type": "string",
                "format": "date-time",
                "example": "2023-05-01"
              }
            }
          ],
          "operationId": "account_webhook_usageWebhookUsageCollection",
          "responses": {
            "200": {
              "description": "WebhookUsage collection response",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/WebhookUsage:b7e05cacde23f365afd912265c1752cc"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/adverts/{uuid}/crawl-update": {
        "post": {
          "summary": "Request a crawl update for a specific Ad",
          "tags": [
            "Ad"
          ],
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "integer"
              }
            }
          ],
          "operationId": "crawl_updateAdCrawlUpdateItem",
          "responses": {
            "201": {
              "description": "AdCrawlUpdate resource created",
              "content": {
                "application/ld+json": {
                  "schema": {
                    "$ref": "#/components/schemas/AdCrawlUpdate:jsonld"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/AdCrawlUpdate"
                  }
                }
              }
            },
            "400": {
              "description": "Invalid input"
            },
            "404": {
              "description": "Resource not found"
            }
          },
          "requestBody": {
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/AdCrawlUpdate:jsonld"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdCrawlUpdate"
                }
              }
            },
            "description": "The new AdCrawlUpdate resource"
          }
        }
      },
      "/anonymization-demand": {
        "put": {
          "summary": "Anonymize User personal data",
          "tags": [
            "Account"
          ],
          "parameters": [],
          "responses": {
            "200": {
              "description": "Anonymized demand response ",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "success": {
                        "type": "bolean",
                        "example": true
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Invalid input"
            }
          },
          "operationId": "app_anonymization_demandAnonymizationDemandItem",
          "requestBody": {
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/AnonymizationDemand:jsonld"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnonymizationDemand"
                }
              }
            },
            "description": "The updated AnonymizationDemand resource"
          }
        }
      },
      "/api_keys": {
        "get": {
          "tags": [
            "ApiKey"
          ],
          "operationId": "getApiKeyCollection",
          "summary": "Retrieves the collection of ApiKey resources.",
          "responses": {
            "200": {
              "description": "ApiKey collection response",
              "content": {
                "application/ld+json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "hydra:member": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/ApiKey:jsonld-api_api_key_read"
                        }
                      },
                      "hydra:totalItems": {
                        "type": "integer",
                        "minimum": 0
                      },
                      "hydra:view": {
                        "type": "object",
                        "properties": {
                          "@id": {
                            "type": "string",
                            "format": "iri-reference"
                          },
                          "@type": {
                            "type": "string"
                          },
                          "hydra:first": {
                            "type": "string",
                            "format": "iri-reference"
                          },
                          "hydra:last": {
                            "type": "string",
                            "format": "iri-reference"
                          },
                          "hydra:next": {
                            "type": "string",
                            "format": "iri-reference"
                          }
                        }
                      },
                      "hydra:search": {
                        "type": "object",
                        "properties": {
                          "@type": {
                            "type": "string"
                          },
                          "hydra:template": {
                            "type": "string"
                          },
                          "hydra:variableRepresentation": {
                            "type": "string"
                          },
                          "hydra:mapping": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "@type": {
                                  "type": "string"
                                },
                                "variable": {
                                  "type": "string"
                                },
                                "property": {
                                  "type": "string"
                                },
                                "required": {
                                  "type": "boolean"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "required": [
                      "hydra:member"
                    ]
                  }
                },
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ApiKey-api_api_key_read"
                    }
                  }
                }
              }
            }
          },
          "parameters": [
            {
              "name": "isEnabled",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "order[createdAt]",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string",
                "enum": [
                  "asc",
                  "desc"
                ]
              }
            },
            {
              "name": "order[lastUsedAt]",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string",
                "enum": [
                  "asc",
                  "desc"
                ]
              }
            },
            {
              "name": "page",
              "in": "query",
              "required": false,
              "description": "The collection page number",
              "schema": {
                "type": "integer",
                "default": 1
              }
            }
          ]
        },
        "post": {
          "tags": [
            "ApiKey"
          ],
          "operationId": "postApiKeyCollection",
          "summary": "Creates a ApiKey resource.",
          "responses": {
            "201": {
              "description": "ApiKey resource created",
              "content": {
                "application/ld+json": {
                  "schema": {
                    "$ref": "#/components/schemas/ApiKey:jsonld-api_api_key_read"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ApiKey-api_api_key_read"
                  }
                }
              },
              "links": {
                "GetApiKeyItem": {
                  "parameters": {
                    "uuid": "$response.body#/uuid"
                  },
                  "operationId": "getApiKeyItem",
                  "description": "The `uuid` value returned in the response can be used as the `uuid` parameter in `GET /api_keys/{id}`."
                }
              }
            },
            "400": {
              "description": "Invalid input"
            },
            "404": {
              "description": "Resource not found"
            }
          },
          "requestBody": {
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKey:jsonld-api_api_key_write"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKey-api_api_key_write"
                }
              }
            },
            "description": "The new ApiKey resource"
          }
        }
      },
      "/api_keys/{id}": {
        "get": {
          "tags": [
            "ApiKey"
          ],
          "operationId": "getApiKeyItem",
          "summary": "Retrieves a ApiKey resource.",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "ApiKey resource response",
              "content": {
                "application/ld+json": {
                  "schema": {
                    "$ref": "#/components/schemas/ApiKey:jsonld-api_api_key_read"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ApiKey-api_api_key_read"
                  }
                }
              }
            },
            "404": {
              "description": "Resource not found"
            }
          }
        },
        "put": {
          "tags": [
            "ApiKey"
          ],
          "operationId": "putApiKeyItem",
          "summary": "Replaces the ApiKey resource.",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "ApiKey resource updated",
              "content": {
                "application/ld+json": {
                  "schema": {
                    "$ref": "#/components/schemas/ApiKey:jsonld-api_api_key_read"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ApiKey-api_api_key_read"
                  }
                }
              }
            },
            "400": {
              "description": "Invalid input"
            },
            "404": {
              "description": "Resource not found"
            }
          },
          "requestBody": {
            "content": {
              "application/ld+json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKey:jsonld-api_api_key_write"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKey-api_api_key_write"
                }
              }
            },
            "description": "The updated ApiKey resource"
          }
        }
      },
      "/api_keys/{id}/usage": {
        "get": {
          "summary": "Retrieve api key usage",
          "description": "Retrieve query logs summary by api key",
          "parameters": [
            {
              "in": "query",
              "name": "endDate",
              "description": "Last day of current month, 29:59:59, if null",
              "schema": {
                "type": "string",
                "format": "date-time",
                "example": "2023-05-31"
              }
            },
            {
              "in": "query",
              "name": "startDate",
              "description": "First day of current month, midnight, if null",
              "schema": {
                "type": "string",
                "format": "date-time",
                "example": "2023-05-01"
              }
            }
          ],
          "tags": [
            "ApiKey"
          ],
          "operationId": "get_usageApiKeyItem",
          "responses": {
            "200": {
              "description": "ApiKey resource response",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ApiKey:8ce698432725fc5f03953968cd1c7b1f-api_api_key_read"
                  }
                }
              }
            },
            "404": {
              "description": "Resource not found"
            }
          }
        }
      },
      "/cities": {
        "get": {
          "tags": [
            "City"
          ],
          "operationId": "getCityCollection",
          "summary": "Retrieves the collection of City resources.",
          "responses": {
            "200": {
              "description": "City collection response",
              "content": {
                "application/ld+json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "hydra:member": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/City:jsonld-api_city_read"
                        }
                      },
                      "hydra:totalItems": {
                        "type": "integer",
                        "minimum": 0
                      },
                      "hydra:view": {
                        "type": "object",
                        "properties": {
                          "@id": {
                            "type": "string",
                            "format": "iri-reference"
                          },
                          "@type": {
                            "type": "string"
                          },
                          "hydra:first": {
                            "type": "string",
                            "format": "iri-reference"
                          },
                          "hydra:last": {
                            "type": "string",
                            "format": "iri-reference"
                          },
                          "hydra:next": {
                            "type": "string",
                            "format": "iri-reference"
                          }
                        }
                      },
                      "hydra:search": {
                        "type": "object",
                        "properties": {
                          "@type": {
                            "type": "string"
                          },
                          "hydra:template": {
                            "type": "string"
                          },
                          "hydra:variableRepresentation": {
                            "type": "string"
                          },
                          "hydra:mapping": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "@type": {
                                  "type": "string"
                                },
                                "variable": {
                                  "type": "string"
                                },
                                "property": {
                                  "type": "string"
                                },
                                "required": {
                                  "type": "boolean"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "required": [
                      "hydra:member"
                    ]
                  }
                },
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/City-api_city_read"
                    }
                  }
                }
              }
            }
          },
          "parameters": [
            {
              "example": true,
              "allowEmptyValue": true,
              "description": "Set to true to exclude cities that have grouped cities under them",
              "name": "excludeGroupedCities",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "insee",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "insee[]",
              "in": "query",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "style": "form",
              "explode": true
            },
            {
              "name": "libelle",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "name",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "order[name]",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string",
                "enum": [
                  "asc",
                  "desc"
                ]
              }
            },
            {
              "name": "page",
              "in": "query",
              "required": false,
              "description": "The collection page number",
              "schema": {
                "type": "integer",
                "default": 1
              }
            },
            {
              "description": "Geographic filter that searches for cities located inside a polygon defined by GPS coordinates. Each point of the polygon must have a latitude (lat) and a longitude (lon).",
              "name": "polygon",
              "type": "array",
              "example": "polygon[0][lat]=43.12&polygon[0][lon]=5.93&polygon[1][lat]=43.12&polygon[1][lon]=6.01&polygon[2][lat]=43.07&polygon[2][lon]=6.01&polygon[3][lat]=43.07&polygon[3][lon]=5.93",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "slug",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "zipcode",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "zipcode[]",
              "in": "query",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "style": "form",
              "explode": true
            }
          ]
        }
      },
      "/cities/{id}": {
        "get": {
          "tags": [
            "City"
          ],
          "operationId": "getCityItem",
          "summary": "Retrieves a City resource.",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "City resource response",
              "content": {
                "application/ld+json": {
                  "schema": {
                    "$ref": "#/components/schemas/City:jsonld-api_city_read"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/City-api_city_read"
                  }
                }
              }
            },
            "404": {
              "description": "Resource not found"
            }
          }
        }
      },
      "/dashboard/properties": {
        "get": {
          "tags": [
            "PropertyDocument"
          ],
          "operationId": "get_from_dashboardPropertyDocumentCollection",
          "summary": "Retrieves the collection of PropertyDocument resources.",
          "responses": {
            "200": {
              "description": "PropertyDocument collection response",
              "content": {
                "application/ld+json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "hydra:member": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/PropertyDocument:jsonld-api_property_read"
                        }
                      },
                      "hydra:totalItems": {
                        "type": "integer",
                        "minimum": 0
                      },
                      "hydra:view": {
                        "type": "object",
                        "properties": {
                          "@id": {
                            "type": "string",
                            "format": "iri-reference"
                          },
                          "@type": {
                            "type": "string"
                          },
                          "hydra:first": {
                            "type": "string",
                            "format": "iri-reference"
                          },
                          "hydra:last": {
                            "type": "string",
                            "format": "iri-reference"
                          },
                          "hydra:next": {
                            "type": "string",
                            "format": "iri-reference"
                          }
                        }
                      },
                      "hydra:search": {
                        "type": "object",
                        "properties": {
                          "@type": {
                            "type": "string"
                          },
                          "hydra:template": {
                            "type": "string"
                          },
                          "hydra:variableRepresentation": {
                            "type": "string"
                          },
                          "hydra:mapping": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "@type": {
                                  "type": "string"
                                },
                                "variable": {
                                  "type": "string"
                                },
                                "property": {
                                  "type": "string"
                                },
                                "required": {
                                  "type": "boolean"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "required": [
                      "hydra:member"
                    ]
                  }
                },
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PropertyDocument-api_property_read"
                    }
                  }
                }
              }
            }
          },
          "parameters": [
            {
              "name": "itemsPerPage",
              "in": "query",
              "required": false,
              "description": "The number of items per page",
              "schema": {
                "type": "integer",
                "default": 10,
                "minimum": 0,
                "maximum": 30
              }
            },
            {
              "name": "order[createdAt]",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "order[pricePerMeter]",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "order[price]",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "order[surface]",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "order[updatedAt]",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "page",
              "in": "query",
              "required": false,
              "description": "The collection page number",
              "schema": {
                "type": "integer",
                "default": 1
              }
            }
          ]
        }
      },
      "/dashboard/properties/{id}": {
        "get": {
          "tags": [
            "PropertyDocument"
          ],
          "operationId": "get_from_dashboardPropertyDocumentItem",
          "summary": "Retrieves a PropertyDocument resource.",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "PropertyDocument resource response",
              "content": {
                "application/ld+json": {
                  "schema": {
                    "$ref": "#/components/schemas/PropertyDocument:jsonld-api_property_read"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/PropertyDocument-api_property_read"
                  }
                }
              }
            },
            "404": {
              "description": "Resource not found"
            }
          }
        }
      },
      "/departments": {
        "get": {
          "tags": [
            "Department"
          ],
          "operationId": "getDepartmentCollection",
          "summary": "Retrieves the collection of Department resources.",
          "responses": {
            "200": {
              "description": "Department collection response",
              "content": {
                "application/ld+json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "hydra:member": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/Department:jsonld-api_department_read"
                        }
                      },
                      "hydra:totalItems": {
                        "type": "integer",
                        "minimum": 0
                      },
                      "hydra:view": {
                        "type": "object",
                        "properties": {
                          "@id": {
                            "type": "string",
                            "format": "iri-reference"
                          },
                          "@type": {
                            "type": "string"
                          },
                          "hydra:first": {
                            "type": "string",
                            "format": "iri-reference"
                          },
                          "hydra:last": {
                            "type": "string",
                            "format": "iri-reference"
                          },
                          "hydra:next": {
                            "type": "string",
                            "format": "iri-reference"
                          }
                        }
                      },
                      "hydra:search": {
                        "type": "object",
                        "properties": {
                          "@type": {
                            "type": "string"
                          },
                          "hydra:template": {
                            "type": "string"
                          },
                          "hydra:variableRepresentation": {
                            "type": "string"
                          },
                          "hydra:mapping": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "@type": {
                                  "type": "string"
                                },
                                "variable": {
                                  "type": "string"
                                },
                                "property": {
                                  "type": "string"
                                },
                                "required": {
                                  "type": "boolean"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "required": [
                      "hydra:member"
                    ]
                  }
                },
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Department-api_department_read"
                    }
                  }
                }
              }
            }
          },
          "parameters": [
            {
              "name": "chefLieu",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "chefLieu[]",
              "in": "query",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "style": "form",
              "explode": true
            },
            {
              "name": "departmentCode",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "departmentCode[]",
              "in": "query",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "style": "form",
              "explode": true
            },
            {
              "name": "name",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "order[name]",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string",
                "enum": [
                  "asc",
                  "desc"
                ]
              }
            },
            {
              "name": "page",
              "in": "query",
              "required": false,
              "description": "The collection page number",
              "schema": {
                "type": "integer",
                "default": 1
              }
            },
            {
              "name": "slug",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              }
            }
          ]
        }
      },
      "/departments/{id}": {
        "get": {
          "tags": [
            "Department"
          ],
          "operationId": "getDepartmentItem",
          "summary": "Retrieves a Department resource.",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Department resource response",
              "content": {
                "application/ld+json": {
                  "schema": {
                    "$ref": "#/components/schemas/Department:jsonld-api_department_read"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Department-api_department_read"
                  }
                }
              }
            },
            "404": {
              "description": "Resource not found"
            }
          }
        }
      },
      "/departments/{id}/cities": {
        "get": {
          "tags": [
            "City",
            "Department"
          ],
          "operationId": "api_departments_cities_get_subresource",
          "summary": "Retrieves the collection of City resources.",
          "responses": {
            "200": {
              "description": "City collection response",
              "content": {
                "application/ld+json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "hydra:member": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/City:jsonld-api_city_read"
                        }
                      },
                      "hydra:totalItems": {
                        "type": "integer",
                        "minimum": 0
                      },
                      "hydra:view": {
                        "type": "object",
                        "properties": {
                          "@id": {
                            "type": "string",
                            "format": "iri-reference"
                          },
                          "@type": {
                            "type": "string"
                          },
                          "hydra:first": {
                            "type": "string",
                            "format": "iri-reference"
                          },
                          "hydra:last": {
                            "type": "string",
                            "format": "iri-reference"
                          },
                          "hydra:next": {
                            "type": "string",
                            "format": "iri-reference"
                          }
                        }
                      },
                      "hydra:search": {
                        "type": "object",
                        "properties": {
                          "@type": {
                            "type": "string"
                          },
                          "hydra:template": {
                            "type": "string"
                          },
                          "hydra:variableRepresentation": {
                            "type": "string"
                          },
                          "hydra:mapping": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "@type": {
                                  "type": "string"
                                },
                                "variable": {
                                  "type": "string"
                                },
                                "property": {
                                  "type": "string"
                                },
                                "required": {
                                  "type": "boolean"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "required": [
                      "hydra:member"
                    ]
                  }
                },
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/City-api_city_read"
                    }
                  }
                }
              }
            },
            "404": {
              "description": "Resource not found"
            }
          },
          "parameters": [
            {
              "example": true,
              "allowEmptyValue": true,
              "description": "Set to true to exclude cities that have grouped cities under them",
              "name": "excludeGroupedCities",
              "in": "query",
              "required": false,
              "schema": {
                "type": "boolean"
              }
            },
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "insee",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "insee[]",
              "in": "query",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "style": "form",
              "explode": true
            },
            {
              "name": "libelle",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "name",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "order[name]",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string",
                "enum": [
                  "asc",
                  "desc"
                ]
              }
            },
            {
              "name": "page",
              "in": "query",
              "required": false,
              "description": "The collection page number",
              "schema": {
                "type": "integer",
                "default": 1
              }
            },
            {
              "description": "Geographic filter that searches for cities located inside a polygon defined by GPS coordinates. Each point of the polygon must have a latitude (lat) and a longitude (lon).",
              "name": "polygon",
              "type": "array",
              "example": "polygon[0][lat]=43.12&polygon[0][lon]=5.93&polygon[1][lat]=43.12&polygon[1][lon]=6.01&polygon[2][lat]=43.07&polygon[2][lon]=6.01&polygon[3][lat]=43.07&polygon[3][lon]=5.93",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "slug",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "zipcode",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "zipcode[]",
              "in": "query",
              "required": false,
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "style": "form",
              "explode": true
            }
          ]
        }
      },
      "/documents/properties": {
        "get": {
          "tags": [
            "Property"
          ],
          "summary": "Retrieves the collection of Property resources",
          "description": "Query properties from search engine index",
          "parameters": [
            {
              "in": "query",
              "name": "bedroomMax",
              "description": "Having maximum x bedrooms",
              "schema": {
                "type": "integer",
                "nullable": true,
                "example": 5
              }
            },
            {
              "in": "query",
              "name": "bedroomMin",
              "description": "Having minimum x bedrooms",
              "schema": {
                "type": "integer",
                "nullable": true,
                "example": 2
              }
            },
            {
              "in": "query",
              "name": "budgetMax",
              "description": "Lower than or equal to budgetMax",
              "schema": {
                "type": "integer",
                "nullable": true,
                "example": 550000
              }
            },
            {
              "in": "query",
              "name": "budgetMin",
              "description": "Greater than or equal to budgetMin",
              "schema": {
                "type": "integer",
                "nullable": true,
                "example": 450000
              }
            },
            {
              "in": "query",
              "name": "condominiumFeesMax",
              "description": "Lower than or equal to condominiumFeesMax",
              "schema": {
                "type": "float",
                "nullable": true,
                "example": 1000
              }
            },
            {
              "in": "query",
              "name": "condominiumFeesMin",
              "description": "Greater than or equal to condominiumFeesMin",
              "schema": {
                "type": "float",
                "nullable": true,
                "example": 500
              }
            },
            {
              "in": "query",
              "name": "constructionYearMax",
              "description": "Lower than or equal to constructionYearMax",
              "schema": {
                "type": "integer",
                "nullable": true,
                "example": 1990
              }
            },
            {
              "in": "query",
              "name": "constructionYearMin",
              "description": "Greater than or equal to constructionYearMin",
              "schema": {
                "type": "integer",
                "nullable": true,
                "example": 1982
              }
            },
            {
              "in": "query",
              "name": "energyCategories[]",
              "description": "Filter on energy performance letter array",
              "schema": {
                "type": "array",
                "enum": [
                  "A",
                  "B",
                  "C",
                  "D",
                  "E",
                  "F",
                  "G"
                ],
                "nullable": true,
                "example": "A&energyCategories[]=B"
              }
            },
            {
              "in": "query",
              "name": "energyValueMax",
              "description": "Lower than or equal to energyValueMax",
              "schema": {
                "type": "integer",
                "nullable": true,
                "example": 117
              }
            },
            {
              "in": "query",
              "name": "energyValueMin",
              "description": "Greater than or equal to energyValueMin",
              "schema": {
                "type": "integer",
                "nullable": true,
                "example": 117
              }
            },
            {
              "in": "query",
              "name": "eventPriceVariationFromCreatedAt",
              "description": "Having an event of type price created since datetime (inclusive)",
              "schema": {
                "type": "string",
                "format": "date",
                "nullable": true,
                "example": "2021-05-07 12:42:42"
              }
            },
            {
              "in": "query",
              "name": "eventPriceVariationMax",
              "description": "Having an event of type price with a variation lower than or equal to eventPriceVariationMax. Expressed in percent",
              "schema": {
                "type": "float",
                "format": "double",
                "nullable": true,
                "example": -2.1
              }
            },
            {
              "in": "query",
              "name": "eventPriceVariationMin",
              "description": "Having an event of type price with a variation greater than or equal to eventPriceVariationMin. Expressed in percent",
              "schema": {
                "type": "float",
                "format": "double",
                "nullable": true,
                "example": -4.2
              }
            },
            {
              "in": "query",
              "name": "eventPriceVariationToCreatedAt",
              "description": "Having an event of type price created before datetime (inclusive)",
              "schema": {
                "type": "string",
                "format": "date",
                "nullable": true,
                "example": "2021-05-07 12:42:42"
              }
            },
            {
              "in": "query",
              "name": "eventSurfaceVariationFromCreatedAt",
              "description": "Having an event of type surface created since datetime (inclusive)",
              "schema": {
                "type": "string",
                "format": "date",
                "nullable": true,
                "example": "2021-05-07 12:42:42"
              }
            },
            {
              "in": "query",
              "name": "eventSurfaceVariationMax",
              "description": "Having an event of type surface with a variation lower than or equal to eventSurfaceVariationMax. Expressed in percent",
              "schema": {
                "type": "float",
                "format": "double",
                "nullable": true,
                "example": -2.1
              }
            },
            {
              "in": "query",
              "name": "eventSurfaceVariationMin",
              "description": "Having an event of type surface with a variation greater than or equal to eventSurfaceVariationMin. Expressed in percent",
              "schema": {
                "type": "float",
                "format": "double",
                "nullable": true,
                "example": -4.2
              }
            },
            {
              "in": "query",
              "name": "eventSurfaceVariationToCreatedAt",
              "description": "Having an event of type surface created before datetime (inclusive)",
              "schema": {
                "type": "string",
                "format": "date",
                "nullable": true,
                "example": "2021-05-07 12:42:42"
              }
            },
            {
              "in": "query",
              "name": "excludedCities[]",
              "description": "Excluding given cities",
              "schema": {
                "type": "integer",
                "example": "/cities/30953&excludedCities[]=/cities/30952",
                "default": "[]",
                "nullable": true
              }
            },
            {
              "in": "query",
              "name": "excludedInseeCodes[]",
              "description": "Excluding given insee codes",
              "schema": {
                "type": "integer",
                "example": "75117&excludedInseeCodes[]=75118"
              }
            },
            {
              "in": "query",
              "name": "excludedProperties[]",
              "description": "Excluding given properties",
              "schema": {
                "type": "array",
                "nullable": true,
                "default": "[]",
                "example": "/properties/9b750029-ed25-43a0-98bf-395cc148cc1b&excludedProperties[]=/properties/ddbad28b-aaf7-44b5-a0c7-4135554d3ba4"
              }
            },
            {
              "in": "query",
              "name": "excludedZipcodes[]",
              "description": "Excluding given zipcodes",
              "schema": {
                "type": "integer",
                "example": "75017&excludedZipcodes[]=75018"
              }
            },
            {
              "in": "query",
              "name": "expired",
              "description": "Filter expired properties",
              "schema": {
                "type": "boolean",
                "nullable": true,
                "example": false,
                "default": null
              }
            },
            {
              "in": "query",
              "name": "expression",
              "description": "In this example we are looking for properties having 'travaux' or 'viager' in the title or the description. Full text matching including/excluding words & phrases. If strict is false, the search is made with fuzzyness & includes typos. For instance if you search 'travaux', 'travau' will match",
              "schema": {
                "type": "array",
                "nullable": true,
                "items": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "example": "expressions[0][0][options][includes]=true&expressions[0][0][options][strict]=true&expressions[1][0][word]=viager&expressions[1][0][options][includes]=true&expressions[1][0][options][strict]=true"
              }
            },
            {
              "in": "query",
              "name": "feesPercentageMax",
              "description": "Lower than or equal to feesPercentageMax",
              "schema": {
                "type": "float",
                "nullable": true,
                "example": 10
              }
            },
            {
              "in": "query",
              "name": "feesPercentageMin",
              "description": "Greater than or equal to feesPercentageMin",
              "schema": {
                "type": "float",
                "nullable": true,
                "example": 5
              }
            },
            {
              "in": "query",
              "name": "feesResponsibility",
              "description": "0 : SELLER. Fees to be paid by the seller<br>1 : BUYER. Fees to be paid by the purchaser<br>Only applicable to buying/selling transaction types",
              "schema": {
                "type": "integer",
                "nullable": true,
                "enum": [
                  "0",
                  "1"
                ]
              }
            },
            {
              "in": "query",
              "name": "floorQuantityMax",
              "description": "Lower than or equal to floorQuantityMax",
              "schema": {
                "type": "integer",
                "nullable": true,
                "example": 8
              }
            },
            {
              "in": "query",
              "name": "floorQuantityMin",
              "description": "Greater than or equal to floorQuantityMin",
              "schema": {
                "type": "integer",
                "nullable": true,
                "example": 5
              }
            },
            {
              "in": "query",
              "name": "fromDate",
              "description": "Created since datetime (inclusive)",
              "schema": {
                "type": "string",
                "format": "date",
                "nullable": true,
                "example": "2021-05-07 12:42:42"
              }
            },
            {
              "in": "query",
              "name": "fromUpdatedAt",
              "description": "Since datetime (inclusive)",
              "schema": {
                "type": "string",
                "format": "date",
                "nullable": true,
                "example": "2021-05-07 12:42:42"
              }
            },
            {
              "in": "query",
              "name": "furnished",
              "description": "Filter furnished properties",
              "schema": {
                "type": "boolean",
                "nullable": true,
                "example": true
              }
            },
            {
              "in": "query",
              "name": "geoAccuracy[]",
              "description": "1: HOUSE NUMBER, 2: NEIGHBORHOOD",
              "schema": {
                "type": "integer",
                "nullable": true,
                "enum": [
                  "1",
                  "2"
                ]
              }
            },
            {
              "in": "query",
              "name": "geoShapes",
              "description": "Polygon or multipolygon coordinates for geo search. Format: [[[lon1, lat1], [lon2, lat2], ...]] for a polygon (must be closed, first point = last point) or multiple polygons [[[lon1, lat1], ...], [[lon2, lat2], ...]]",
              "schema": {
                "type": "array",
                "nullable": true,
                "example": "geoShapes[0][0][0]=6.063201&geoShapes[0][0][1]=44.549092&geoShapes[0][1][0]=6.063201&geoShapes[0][1][1]=44.543009&geoShapes[0][2][0]=6.073453&geoShapes[0][2][1]=44.543293&geoShapes[0][3][0]=6.073453&geoShapes[0][3][1]=44.549092&geoShapes[0][4][0]=6.063201&geoShapes[0][4][1]=44.549092"
              }
            },
            {
              "in": "query",
              "name": "greenHouseGasCategories[]",
              "description": "Filter on green house gas performance letter array",
              "schema": {
                "type": "array",
                "enum": [
                  "A",
                  "B",
                  "C",
                  "D",
                  "E",
                  "F",
                  "G"
                ],
                "nullable": true,
                "example": "A&greenHouseGasCategories[]=B"
              }
            },
            {
              "in": "query",
              "name": "greenHouseGasValueMax",
              "description": "Lower than or equal to greenHouseGasValueMax",
              "schema": {
                "type": "integer",
                "nullable": true,
                "example": 32
              }
            },
            {
              "in": "query",
              "name": "greenHouseGasValueMin",
              "description": "Greater than or equal to greenHouseGasValueMin",
              "schema": {
                "type": "integer",
                "nullable": true,
                "example": 32
              }
            },
            {
              "in": "query",
              "name": "includedCities[]",
              "description": "Located in given cities",
              "schema": {
                "type": "integer",
                "example": "/cities/30953&includedCities[]=/cities/30952",
                "default": "[]",
                "nullable": true
              }
            },
            {
              "in": "query",
              "name": "includedDepartments[]",
              "description": "Located in given departments",
              "schema": {
                "type": "integer",
                "example": "includedDepartments[]=/departments/77",
                "default": "[]",
                "nullable": true
              }
            },
            {
              "in": "query",
              "name": "includedInseeCodes[]",
              "description": "Located in given insee codes",
              "schema": {
                "type": "integer",
                "example": "75117&includedInseeCodes[]=75118"
              }
            },
            {
              "in": "query",
              "name": "includedZipcodes[]",
              "description": "Located in given zipcodes",
              "schema": {
                "type": "integer",
                "example": "75017&includedZipcodes[]=75018"
              }
            },
            {
              "in": "query",
              "name": "inventoryPriceMax",
              "description": "Lower than or equal to inventoryPriceMax",
              "schema": {
                "type": "float",
                "nullable": true,
                "example": 500
              }
            },
            {
              "in": "query",
              "name": "inventoryPriceMin",
              "description": "Greater than or equal to inventoryPriceMin",
              "schema": {
                "type": "float",
                "nullable": true,
                "example": 250
              }
            },
            {
              "name": "itemsPerPage",
              "in": "query",
              "required": false,
              "description": "The number of items per page",
              "schema": {
                "type": "integer",
                "default": 10,
                "minimum": 0,
                "maximum": 30
              }
            },
            {
              "in": "query",
              "name": "lat",
              "description": "Latitude. Used if radius & lat/lon are set",
              "schema": {
                "type": "float",
                "format": "double",
                "nullable": true,
                "example": "48.864716"
              }
            },
            {
              "in": "query",
              "name": "lon",
              "description": "Longitude. Used if radius & lat/lon are given",
              "schema": {
                "type": "float",
                "format": "double",
                "example": "2.349014"
              }
            },
            {
              "in": "query",
              "name": "lotCountMax",
              "description": "Lower than or equal to lotCountMax",
              "schema": {
                "type": "integer",
                "nullable": true,
                "example": 12
              }
            },
            {
              "in": "query",
              "name": "lotCountMin",
              "description": "Greater than or equal to lotCountMin",
              "schema": {
                "type": "integer",
                "nullable": true,
                "example": 4
              }
            },
            {
              "in": "query",
              "name": "order[createdAt]",
              "description": "Order properties by creation date",
              "schema": {
                "type": "integer",
                "enum": [
                  "asc",
                  "desc"
                ],
                "nullable": true,
                "default": "desc"
              }
            },
            {
              "in": "query",
              "name": "order[updateddAt]",
              "description": "Order properties by update date",
              "schema": {
                "type": "integer",
                "enum": [
                  "asc",
                  "desc"
                ],
                "nullable": true
              }
            },
            {
              "name": "page",
              "in": "query",
              "required": false,
              "description": "The collection page number",
              "schema": {
                "type": "integer",
                "default": 1
              }
            },
            {
              "in": "query",
              "name": "priceExcludingFeesMax",
              "description": "Lower than or equal to priceExcludingFeesMax",
              "schema": {
                "type": "float",
                "nullable": true,
                "example": 427500
              }
            },
            {
              "in": "query",
              "name": "priceExcludingFeesMin",
              "description": "Greater than or equal to priceExcludingFeesMin",
              "schema": {
                "type": "float",
                "nullable": true,
                "example": 405000
              }
            },
            {
              "in": "query",
              "name": "pricePerMeterMax",
              "description": "Lower than or equal to pricePerMeterMax",
              "schema": {
                "type": "integer",
                "nullable": true,
                "example": 11500
              }
            },
            {
              "in": "query",
              "name": "pricePerMeterMin",
              "description": "Greater than or equal to pricePerMeterMin",
              "schema": {
                "type": "integer",
                "nullable": true,
                "example": 9500
              }
            },
            {
              "in": "query",
              "name": "propertyTypes[]",
              "description": "0: FLAT<br>1: HOUSE<br>2: BUILDING<br>3: PARKING<br>4: OFFICE<br>5: LAND<br>6: SHOP",
              "schema": {
                "type": "integer",
                "nullable": true,
                "enum": [
                  0,
                  1,
                  2,
                  3,
                  4,
                  5,
                  6
                ]
              }
            },
            {
              "in": "query",
              "name": "publisherTypes[]",
              "description": "0 : INDIVIDUAL<br>1 : PROFESSIONAL",
              "schema": {
                "type": "integer",
                "nullable": true,
                "enum": [
                  "0",
                  "1"
                ]
              }
            },
            {
              "in": "query",
              "name": "radius",
              "description": "Distance expressed in kilometers. Used if lat & lon are set",
              "schema": {
                "type": "integer",
                "nullable": true,
                "example": "20"
              }
            },
            {
              "in": "query",
              "name": "rentalChargesMax",
              "description": "Lower than or equal to rentalChargesMax",
              "schema": {
                "type": "float",
                "nullable": true,
                "example": 100
              }
            },
            {
              "in": "query",
              "name": "rentalChargesMin",
              "description": "Greater than or equal to rentalChargesMin",
              "schema": {
                "type": "float",
                "nullable": true,
                "example": 50
              }
            },
            {
              "in": "query",
              "name": "rentalPledgeMax",
              "description": "Lower than or equal to rentalPledgeMax",
              "schema": {
                "type": "float",
                "nullable": true,
                "example": 800
              }
            },
            {
              "in": "query",
              "name": "rentalPledgeMin",
              "description": "Greater than or equal to rentalPledgeMin",
              "schema": {
                "type": "float",
                "nullable": true,
                "example": 500
              }
            },
            {
              "in": "query",
              "name": "renterFeesMax",
              "description": "Lower than or equal to renterFeesMax",
              "schema": {
                "type": "float",
                "nullable": true,
                "example": 80
              }
            },
            {
              "in": "query",
              "name": "renterFeesMin",
              "description": "Greater than or equal to renterFeesMin",
              "schema": {
                "type": "float",
                "nullable": true,
                "example": 50
              }
            },
            {
              "in": "query",
              "name": "roomMax",
              "description": "Having maximum x rooms",
              "schema": {
                "type": "integer",
                "nullable": true,
                "example": 6
              }
            },
            {
              "in": "query",
              "name": "roomMin",
              "description": "Having minimum x rooms",
              "schema": {
                "type": "integer",
                "nullable": true,
                "example": 3
              }
            },
            {
              "in": "query",
              "name": "sortMode",
              "description": "Property: `fromDate`/`toDate` criteria will be applied to property root object. Items will be sorted by property `createdAt` dates.<br>Advert: `fromDate/toDate` criteria will be applied to adverts nested objects. Items will be sorted by advert `createdAt` dates.",
              "schema": {
                "type": "string",
                "default": "property",
                "nullable": true,
                "example": "property"
              }
            },
            {
              "in": "query",
              "name": "surfaceMax",
              "description": "Lower than or equal to surfaceMax",
              "schema": {
                "type": "integer",
                "nullable": true,
                "example": 84
              }
            },
            {
              "in": "query",
              "name": "surfaceMin",
              "description": "Greater than or equal to surfaceMin",
              "schema": {
                "type": "integer",
                "nullable": true,
                "example": 42
              }
            },
            {
              "in": "query",
              "name": "toDate",
              "description": "To datetime (inclusive)",
              "schema": {
                "type": "string",
                "format": "date",
                "nullable": true,
                "example": "2021-05-07 12:42:42"
              }
            },
            {
              "in": "query",
              "name": "toUpdatedAt",
              "description": "Since datetime (inclusive)",
              "schema": {
                "type": "string",
                "format": "date",
                "nullable": true,
                "example": "2021-05-07 12:42:42"
              }
            },
            {
              "in": "query",
              "name": "transactionType",
              "description": "0 : SELL<br>1 : RENT",
              "schema": {
                "type": "integer",
                "nullable": true,
                "enum": [
                  "0",
                  "1"
                ]
              }
            },
            {
              "in": "query",
              "name": "withCoherentPrice",
              "description": "Filter properties with coherent price",
              "schema": {
                "type": "boolean",
                "nullable": true,
                "example": true,
                "default": true
              }
            },
            {
              "in": "query",
              "name": "withLocation",
              "description": "Having a specific location",
              "schema": {
                "type": "boolean",
                "nullable": true,
                "example": true
              }
            },
            {
              "in": "query",
              "name": "withVirtualTour",
              "description": "Having a virtual tour video link",
              "schema": {
                "type": "boolean",
                "nullable": true,
                "example": true
              }
            }
          ],
          "operationId": "getPropertyDocumentCollection",
          "responses": {
            "200": {
              "description": "PropertyDocument collection response",
              "content": {
                "application/ld+json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "hydra:member": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/PropertyDocument:jsonld-api_property_read"
                        }
                      },
                      "hydra:totalItems": {
                        "type": "integer",
                        "minimum": 0
                      },
                      "hydra:view": {
                        "type": "object",
                        "properties": {
                          "@id": {
                            "type": "string",
                            "format": "iri-reference"
                          },
                          "@type": {
                            "type": "string"
                          },
                          "hydra:first": {
                            "type": "string",
                            "format": "iri-reference"
                          },
                          "hydra:last": {
                            "type": "string",
                            "format": "iri-reference"
                          },
                          "hydra:next": {
                            "type": "string",
                            "format": "iri-reference"
                          }
                        }
                      },
                      "hydra:search": {
                        "type": "object",
                        "properties": {
                          "@type": {
                            "type": "string"
                          },
                          "hydra:template": {
                            "type": "string"
                          },
                          "hydra:variableRepresentation": {
                            "type": "string"
                          },
                          "hydra:mapping": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "@type": {
                                  "type": "string"
                                },
                                "variable": {
                                  "type": "string"
                                },
                                "property": {
                                  "type": "string"
                                },
                                "required": {
                                  "type": "boolean"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "required": [
                      "hydra:member"
                    ]
                  }
                },
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PropertyDocument-api_property_read"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/documents/properties/{id}": {
        "get": {
          "tags": [
            "Property"
          ],
          "summary": "Retrieves the Property resource",
          "description": "Query specific property from search engine index",
          "operationId": "getPropertyDocumentItem",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "PropertyDocument resource response",
              "content": {
                "application/ld+json": {
                  "schema": {
                    "$ref": "#/components/schemas/PropertyDocument:jsonld-api_property_read"
                  }
                },
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/PropertyDocument-api_property_read"
                  }
                }
              }
            },
            "404": {
              "description": "Resource not found"
            }
          }
        }
      },
      "/documents/properties/{id}/similar-properties": {
        "get": {
          "tags": [
            "Property"
          ],
          "summary": "Retrieves the collection of Property with similar criteria",
          "description": "Query properties closes to given Property or criteria",
          "operationId": "get_similar_propertiesPropertyDocumentItem",
          "parameters": [
            {
              "in": "query",
              "name": "fromDate",
              "description": "Created since datetime (inclusive)",
              "schema": {
                "type": "string",
                "format": "date",
                "nullable": true,
                "example": "2021-05-07 12:42:42"
              }
            },
            {
              "name": "itemsPerPage",
              "in": "query",
              "required": false,
              "description": "The number of items per page",
              "schema": {
                "type": "integer",
                "default": 10,
                "minimum": 0,
                "maximum": 30
              }
            },
            {
              "in": "query",
              "name": "order[createdAt]",
              "description": "Order properties by creation date",
              "schema": {
                "type": "integer",
                "enum": [
                  "asc",
                  "desc"
                ],
                "nullable": true,
                "default": "desc"
              }
            },
            {
              "in": "query",
              "name": "order[updateddAt]",
              "description": "Order properties by update date",
              "schema": {
                "type": "integer",
                "enum": [
                  "asc",
                  "desc"
                ],
                "nullable": true
              }
            },
            {
              "name": "page",
              "in": "query",
              "required": false,
              "description": "The collection page number",
              "schema": {
                "type": "integer",
                "default": 1
              }
            }
          ],
          "responses": {
            "200": {
              "description": "PropertyDocument collection response",
              "content": {
                "application/ld+json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "hydra:member": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/PropertyDocument:jsonld-api_property_read"
                        }
                      },
                      "hydra:totalItems": {
                        "type": "integer",
                        "minimum": 0
                      },
                      "hydra:view": {
                        "type": "object",
                        "properties": {
                          "@id": {
                            "type": "string",
                            "format": "iri-reference"
                          },
                          "@type": {
                            "type": "string"
                          },
                          "hydra:first": {
                            "type": "string",
                            "format": "iri-reference"
                          },
                          "hydra:last": {
                            "type": "string",
                            "format": "iri-reference"
                          },
                          "hydra:next": {
                            "type": "string",
                            "format": "iri-reference"
                          }
                        }
                      },
                      "hydra:search": {
                        "type": "object",
                        "properties": {
                          "@type": {
                            "type": "string"
                          },
                          "hydra:template": {
                            "type": "string"
                          },
                          "hydra:variableRepresentation": {
                            "type": "string"
                          },
                          "hydra:mapping": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "@type": {
                                  "type": "string"
                                },
                                "variable": {
                                  "type": "string"
                                },
                                "property": {
                                  "type": "string"
                                },
                                "required": {
                                  "type": "boolean"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "required": [
                      "hydra:member"
                    ]
                  }
                },
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PropertyDocument-api_property_read"
                    }
                  }
                }
              }
            },
            "404": {
              "description": "Resource not found"
            }
          }
        }
      },
      "/documents/properties/{uuid}/address-resolver": {
        "get": {
          "summary": "Resolve property address from multiple sources",
          "description": "Attempts to find the most accurate address for a property using multiple data sources: reverseGeocoding (GPS coordinates with max precision), adAddressField (address from ads), and DPE (ADEME energy data with construction filtering, \u00b110% surface range, neighboring cities fallback, and requires both energy and gas labels).",
          "tags": [
            "Property"
          ],
          "parameters": [
            {
              "name": "uuid",
              "in": "path",
              "schema": {
                "type": "string",
                "format": "uuid",
                "example": "58c74941-e173-40ba-b688-3b592858be66"
              },
              "required": "true",
              "description": "UUID of the property to resolve address for"
            }
          ],
          "responses": {
            "200": {
              "description": "Address resolution response",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "success": {
                        "type": "boolean",
                        "example": true
                      },
                      "property": {
                        "type": "string",
                        "format": "uuid",
                        "example": "58c74941-e173-40ba-b688-3b592858be66"
                      },
                      "addresses": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "address": {
                              "type": "string",
                              "example": "65 Rue des 3 Moulins 77000 Melun"
                            },
                            "street": {
                              "type": "string",
                              "nullable": true,
                              "example": "Rue des 3 Moulins"
                            },
                            "housenumber": {
                              "type": "string",
                              "nullable": true,
                              "example": "65"
                            },
                            "postcode": {
                              "type": "string",
                              "nullable": true,
                              "example": "77000"
                            },
                            "city": {
                              "type": "string",
                              "nullable": true,
                              "example": "Melun"
                            },
                            "citycode": {
                              "type": "string",
                              "nullable": true,
                              "example": "77288"
                            },
                            "source": {
                              "type": "string",
                              "enum": [
                                "reverseGeocoding",
                                "adAddressField",
                                "DPE"
                              ],
                              "example": "reverseGeocoding"
                            },
                            "adId": {
                              "type": "string",
                              "format": "uuid",
                              "nullable": true,
                              "example": "895d70c6-1a05-411a-b16c-c0b612053926"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "404": {
              "description": "Property not found"
            },
            "403": {
              "description": "Access denied - API subscription required"
            }
          },
          "operationId": "property_address_resolverPropertyAddressResolverResourceItem"
        }
      },
      "/export-data": {
        "get": {
          "summary": "Export a JSON file containing User personal data",
          "tags": [
            "Account"
          ],
          "parameters": [],
          "responses": {
            "200": {
              "description": "Anonymized demand response",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "user": {
                        "type": "object"
                      },
                      "searches": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "operationId": "app_export_dataExportDataItem"
        }
      },
      "/favorites": {
        "get": {
          "tags": [
            "Favorite"
          ],
          "operationId": "getFavoriteCollection",
          "summary": "Retrieves the collection of Favorite resources.",
          "responses": {
            "200": {
              "description": "Favorite collection response",
              "content": {
                "application/ld+json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "hydra:member": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/Favorite:jsonld-api_favorite_read"
                        }
                      },
                      "hydra:totalItems": {
                        "type": "integer",
                        "minimum": 0
                      },
                      "hydra:view": {
                        "type": "object",
                        "properties": {
                          "@id": {
                            "type": "string",
                            "format": "iri-reference"
                          },
                          "@type": {
                            "type": "string"
                          },
                          "hydra:first": {
                            "type": "string",
                            "format": "iri-reference"
                          },
                          "hydra:last": {
                            "type": "string",
                            "format": "iri-reference"
                          },
                          "hydra:next": {
                            "type": "string",
                            "format": "iri-reference"
                          }
                        }
                      },
                      "hydra:search": {
                        "type": "object",
                        "properties": {
                          "@type": {
                            "type": "string"
                          },
                          "hydra:template": {
                            "type": "string"
                          },
                          "hydra:variableRepresentation": {
                            "type": "string"
                          },
                          "hydra:mapping": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "@type": {
                                  "type": "string"
                                },
                                "variable": {
                                  "type": "string"
                                },
                                "property": {
                                  "type": "string"
                                },
                                "required": {
                                  "type": "boolean"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "required": [
                      "hydra:member"
                    ]
                  }
                },
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Favorite-api_favorite_read"
                    }
                  }
                }
              }
            }
          },
          "parameters": [
            {
              "name": "order[createdAt]",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string",
                "enum": [
                  "asc",
                  "desc"
                ]
              }
            },
            {
              "name": "order[updatedAt]",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string",
                "enum": [
                  "asc",
                  "desc"
                ]
              }
            },
            {
              "name": "page",
              "in": "query",
              "required": false,
              "description": "The collection page number",
              "schema": {
                "type": "integer",
                "default": 1
              }
            }
          ]
        },
        "post": {
          "tags": [
            "Favorite"
          ],
          "operationId": "postFavoriteCollection",
          "summary": "Creates a Favorite resource.",
          "responses": {
            "201": {
              "description": "Favorite resource created",
              "content": {
                "application/ld+json": {
                  "schema": {
                    "$ref": "#/components/schemas/Favorite:jsonld-api_favorite_read"
                  }
                },
                "application/json": {
[...]
